.delete {
  background-image: url(../../images/logo/Delete-logo.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  margin: 0;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.delete:hover {
  opacity: 0.5;
  cursor: pointer;
}
