.popup__submit {
  border-radius: 2px;
  background-color: #000;
  color: #FFFFFF;
  padding: 14px 124px 18px 125px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  width: 358px;
  margin-top: 18px;
  border: none;
}

.popup__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width:550px) {
.popup__submit {
  padding: 14px 82px 14px 82px;
  font-size: 14px;
  max-width: 238px;
  margin-top: 15px;
  }
}
