.popup__close {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background: url(../../../images/logo/popup-close-icon.svg);
  border: none;
  background-size: cover;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width:550px) {
.popup__close {
  top: -36px;
  right: 0;
  width: 20px;
  height: 20px;
  }
}

