.profile__avatar {
  grid-area: profile__avatar;
  width: 123.75px;
  margin-right: 26.25px;
  border-radius: 50%;
  object-fit: cover;
  height: 123.75px;
  display: block;
}

@media screen and (max-width:900px) {
  .profile__avatar {
    margin-right: 0;
  }
}
