.element-alignment {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-template-areas: 
  "subtitle button-like"
  "subtitle counter";
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 22px 15px 22px 21px;
  max-width: 100%;
  box-sizing: border-box;
}
